.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character {
  padding: 20px;
  background-color: hsla(0, 100%, 90%, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5%;
}

.character h3 {
  text-decoration: underline;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  font-size: 3rem;
}

.character strong {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.character p {
  color: white;
}

.character ul {
  list-style-type: katakana;
  list-style-position: inside;
}

.ul-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.ul-list p {
  text-decoration: underline;
  margin-bottom: 0;
  /* color: white; */
}
